{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'login/assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'login/assets/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'login/assets/css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'login/assets/css/style.css' %}">

        <link rel="shortcut icon" type="image/png" href="{% static '/newtemplate/assets/images/fevicon.png' %}">
    
    
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-glyphicons.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/chat.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/slicknav.min.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/style.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/responsive.css' %}">
    <script src="{% static '/newtemplate/assets/js/jquery-2.1.3.min.js' %}"></script>



        <link rel="shortcut icon" href="{% static 'login/assets/ico/favicon.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'login/assets/ico/apple-touch-icon-144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'login/assets/ico/apple-touch-icon-114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'login/assets/ico/apple-touch-icon-72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'login/assets/ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <body style="background-image:url({% static 'images/6.png' %});background-repeat:no-repeat;">
 {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
<header>
    <!-- Header top area start -->
  
    <!-- Header area start -->
  <div class="header-area">
      <div class="container"> 
        <!-- Site logo Start --> 
        <div class="logo">
          <a href="/" title="W-shipping"><img src="{% static '/newtemplate/assets/images/logo.png' %}" alt="W-shipping"/></a>
        </div>
        <!-- Site logo end -->
        <div class="mobile-menu-wrapper"></div>
        <!-- Search Start -->
        <div class="dropdown header-search-bar">
          <form action="index.html">
            <span class="" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="search" placeholder="keywords.." class="dropdown-menu search-box">
          </form>
        </div>
        <!-- Search End -->
        
        <!-- Main menu start -->
        <nav class="mainmenu">
          <ul id="navigation">
            <!--  <li class="nav-active"><a href="#">Home</a>
               
             </li> -->
              {% if user.is_authenticated %}
             <li ><a href="/dashboard">Dashboard</a>
               
             </li>
             <li ><a href="/logout">Logout</a>
               
             </li>
             <!-- <li ><a href="#">Tracking</a>
                
             </li>
             <li ><a href="#">Blog</a> -->
               <!--  <ul>
                   <li ><a href="blog-page">Blog left sidebar</a></li>
                   <li ><a href="blog-another-page">Blog right sidebar</a></li>
                   <li ><a href="single-blog">Single Blog</a></li>
                </ul> -->
             <!-- </li> -->
             <!-- <li ><a href="#">pages</a> -->
                <!-- <ul>
                   <li ><a href="about">About Us</a></li>
                   <li ><a href="media">Media &amp; Publications</a></li>
                   <li ><a href="freight-gallery">Freight Gallery</a></li>
                   <li ><a href="image-gallery">Image Gallery</a></li>
                   <li ><a href="typography">Typography</a></li>
                   <li ><a href="button-accordion">Button &amp; Accordion</a></li>
                   <li ><a href="community">Shipping Community</a></li>
                   <li ><a href="404">Error 404</a></li>
                   <li ><a href="sitemap">Site Map</a></li>
                   <li ><a href="coming-soon">Coming Soon</a></li>
                </ul> -->
             <!-- </li> -->
             <!-- <li ><a href="contact">Contact Us</a></li> -->
             {% else %}
             <li ><a href="/login">Institution Login/Register</a>
<li ><a href="/login">Login/Register</a>
               
             </li>
             <!-- <li ><a href="/register">Register</a> -->
               
             </li>

              {% endif %}
          </ul>
        </nav>
        <!-- Main menu end -->   
      </div>
    </div>
    <!-- Header area End -->
  </header>  
        <!-- Top content -->
        <div class="top-content">
            
           
                <div class="container">
                    
                    
                    <div class="row">
                        
                        {% if msg %}
<script type="text/javascript">
  alert("{{ msg }}");
</script>
{% endif %}
                        
                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-3"></div>
                          <div class="col-sm-5">
                            
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Login to our site</h3>
                                        <p>Enter username and password to log on:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-key"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="login-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
                                            <label class="sr-only" for="username">Username</label>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="password">Password</label>
                                            <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                                        </div>
                                        <button type="submit" name="loginbutton" class="btn">Sign in!</button>
                                        <a href="/forgotpassword" style="color: white;">Forgot Password?</a><br>
                                         <a href="/register" style="color: white;">New User?</a><br>
                                          <a href="/institutionlogin" style="color: white;">New Institution?</a>
                                    </form>
                                </div>
                            </div>
                        
                            <!-- <div class="social-login">
                                <h3>...or login with:</h3>
                                <div class="social-login-buttons">
                                    <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                        <i class="fa fa-facebook"></i> Facebook
                                    </a>
                                    <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                    <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                        <i class="fa fa-google-plus"></i> Google Plus
                                    </a>
                                </div>
                            </div> -->
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        

        <!-- Footer -->
      

        <!-- Javascript -->
        <script src="{% static 'login/assets/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'login/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'login/assets/js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'login/assets/js/scripts.js' %}"></script>
        
        <!--[if lt IE 10]>
            <script src="login/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>