{% extends 'dash.html' %}
{% block stylesheet %}
<style>
    .btn.btn-info {
        background-color: $purple;
        border-color: $purple;
        outline: none;
        &:hover {
            background-color: darken($purple, 10%);
            border-color: darken($purple, 10%);
        }
        &:active, &:focus {
            background-color: lighten($purple, 5%);
            border-color: lighten($purple, 5%);
        }
    }
</style>
{% endblock %}
{% block body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">SubUsers</li>
    <li style="position: absolute !important;right: 0 !important"> Available Credits :  {{user.credits.credits}}</li>
</ol>
<div class="container card">
    <div class="form-group row">

    </div>
    <div class="">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-bordered table-striped table-sm">
            <thead class="alert-warning">
                <tr>
                    <th>Sl.no</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Credits Assigned</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>


                {% for user in subusers %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td>{{ user.user.username}}</td>
                    <td>{{ user.user.email }}</td>
                    <td>{{ user.user.credits.credits }}</td>
                    {% if user.user.username != username %}
                    <td><center><a class="btn btn-sm btn-warning" href="{% url 'checker:changecredit' user.user.username %}"><span class="fa fa-edit"></span> Edit credits</a>
                        <!-- <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span> Delete User</a> -->
<!-- {% url 'checker:deleteuser' user.user.username %} -->
                        {% else %}
                         <td><center>
                            <form method="post" action="{% url 'checker:change' user.user.username %}">{% csrf_token %}
                                    <input type="text" name="creditfield">
                                    <input type="submit" name="add" value='add' style="background-color: orange;">
                                    <input type="submit" name="sub" value='sub'style="background-color: orange;">

                             </form>
                            
                        <!-- <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span> Delete User</a> -->


                        {% endif %}
                    </center></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% if msg %}
<script type="text/javascript">
  alert("{{ msg }}");
</script>
{% endif %}
{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>

{% endblock %}
