{% extends 'dash.html' %}
{% block stylesheet %}
<style>
    .btn.btn-info {
        background-color: $purple;
        border-color: $purple;
        outline: none;
        &:hover {
            background-color: darken($purple, 10%);
            border-color: darken($purple, 10%);
        }
        &:active, &:focus {
            background-color: lighten($purple, 5%);
            border-color: lighten($purple, 5%);
        }
    }
</style>
{% endblock %}
{% block body %}
<!-- Breadcrumbs-->

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">File History</li>
    <li style="position: absolute !important;right: 0 !important"> Available Credits :  {{cli.credits.credits}}</li>
</ol>
<div class="container card">
    <div class="form-group row">

    </div>
    <div class="">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <table class="table table-bordered table-striped table-sm">
            <thead class="alert-warning">
                <tr>
                    <th>Sl.no</th>
                    <th>File Name</th>
                    <th>Checked At</th>
                    <th>Result</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>


                {% for document in documents %}
                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td>{{ document.document }}</td>
                    <td>{{ document.uploaded_at }}</td>
                    <td>{{ document.result }}%</td>
                    <td><center><a class="btn btn-sm btn-warning" href="{% url 'checker:viewdocument' string=document.document %}"><span class="fa fa-edit"></span> View</a>
                        <!-- <a class="btn btn-sm btn-danger" href="#"><span class="fa fa-trash"></span> Delete</a> -->
                    </center></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if msg %}
<script type="text/javascript">
  alert("{{ msg }}");
</script>
{% endif %}
</div>

{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
</script>

{% endblock %}
