{% extends "footer2.html" %}
{% load staticfiles %}

{% block body %}

 <!-- Preloader start -->
  <div class="wshipping-site-preloader-wrapper">
     <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
     </div>
  </div>
  <!-- Preloader End -->
  
  <!-- Slider Start -->  
  <div class="homepage-slides-wrapper">
   <div class="homepage-slides text-center">
      <!-- Slider item1 start-->
      <div class="single-slide-item slider-overlay slide-bg-1">
         <div class="item-table">
           <div class="item-tablecell">
              <div class="container">
                 <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                       <h3></h3>
                       <h2>Chronicle Scan</h2>
                       <p>It is a plagiarism detection tool that will allow you to check the authenticity of your documents</p>
                       <a href="mailto: syedefron@gmail.com" class="wshipping-button slide-btn">Contact Us</a>
                    </div>
                 </div>
              </div>
           </div>
         </div>
      </div>
      <!-- Slider item1 end-->
      
      <!-- Slider item2 start-->
      <div class="single-slide-item slider-overlay slide-bg-2">
         <div class="item-table">
           <div class="item-tablecell">
              <div class="container">
                 <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                       <h3>Trusted plagiarism detection service</h3>
                       <h2>We are active</h2>
                       <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                       
                    </div>
                 </div>
              </div>
           </div>
         </div>
      </div>
      <!-- Slider item2 end-->
    </div>
  </div>
  <!-- Slider End --> 
   
  <!-- Service start -->   
  <!-- <div class="wshipping-content-block">
    <div class="container">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp">
               <h2>Our Services</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-1"></div>
               <div class="service-content">
                  <h4>Ocean Freight Shipping</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-2"></div>
               <div class="service-content">
                  <h4>Air Freight Shipping</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="single-service-item wow fadeInUp">
               <div class="service-item-bg service-bg-3"></div>
               <div class="service-content">
                  <h4>Car Shipping</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                  <div class="location_map"><i class="fa fa-plus"></i></div>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div> -->
  <!-- Service End -->
  
  <!-- we peovide start -->   
  <!-- <div class="wshipping-content-block provided-block text-center">
   <div class="item-table">
      <div class="item-tablecell">
         <div class="container">
            <div class="row">
               <div class="col-12 wow fadeInUp">
                  <h3 class="text-uppercase">We Provide</h3>
                  <h1 class="text-uppercase">the Best Sea and Air Freight Services</h1>
                  <h2>For Book Your Shipping From any Country</h2>
                  <a href="#" class="wshipping-button cta-btn">Contact Weth Us</a>
               </div>
            </div>      
         </div>
      </div>  
    </div>
  </div>   --> 
  <!-- we provide end --> 
  
  <!-- Why Choose start -->   
  <div class="wshipping-content-block">
    <div class="container">
       <div class="row">
          <div class="col-12 col-lg-4 wow fadeInLeft">
            <img src="{% static '/newtemplate/assets/images/why-choose-us.jpg' %}" alt=""/>
          </div>
          <div class="col-12 col-lg-4">
             <div class="why-choose-us-content wow fadeInUp">
               <h3 class="heading3-border text-uppercase">Why Choose Us?</h3>
               <p>This is the most user-friendly and compact website available to provide for your needs</p>
               <p>If you are an institutional body, we provide a separate database for your institution and you can add new users under your authority and manage their activities. 
               <p>We also extend our services to individual users who are looking forward to inspect their documents with ease.</p>
               Our services are priced at a minimal cost.</p>
            <!--    <a href="" title="" class="readmore-btn">Read more<i class="fa fa-angle-right"></i></a>
             --></div>   
          </div>
          <div class="col-12 col-lg-4">
             <div class="why-choose-us wow fadeInRight">
                 <div class="why-choose-us-icon">
                    <i class="fa fa-handshake-o"></i>
                    We Are Trusted
                 </div> 
                  <div class="why-choose-us-icon">
                     <i class="fa fa-unlock-alt"></i>
                     The Best Encrpytion
                  </div>   
                  <div class="why-choose-us-icon">
                     <i class="fa fa-thumbs-o-up"></i>
                     Highly Accurate
                  </div>  
                  <div class="why-choose-us-icon">
                     <i class="fa fa-map-marker"></i>
                     Quick retrieval
                  </div>   
             </div>
          </div>
       </div>
    </div>
  </div>
  <!-- why choose End --> 
  
  <!-- Service process start -->  
  <div class="wshipping-content-block service-process">
   <div class="container wow fadeInUp">
      <div class="row">
         <div class="col-12 col-lg-6 offset-lg-3">
            <div class="section-title">
               <h2>Our Service Process</h2>
               <p>A step by step guide on how our service works</p>
            </div>
         </div>
      </div>
      <div class="process-row">
         <div class="process-step">
            <div class="process-icon">
              <span>1</span>
              <img src="{% static '/newtemplate/assets/images/process-icon1.png' %}" alt=""/>
            </div>
            <p>Register</p>
         </div>
         <div class="process-step">
            <div class="process-icon">
              <span>2</span>
              <img src="{% static '/newtemplate/assets/images/process-icon2.png' %}" alt=""/>
            </div>
            <p>Upload document</p>
         </div>
         <div class="process-step">
            <div class="process-icon">
              <span>3</span>
              <img src="{% static '/newtemplate/assets/images/process-icon3.png' %} " alt=""/>
            </div>
            <p>Buy Credits</p>
         </div>
         <div class="process-step">
            <div class="process-icon">
              <span>4</span>
              <img src="{% static '/newtemplate/assets/images/process-icon4.png' %}" alt=""/>
            </div>
            <p>Report delivered</p>
         </div>
      </div>
    </div>
  </div>
  <!-- service process start --> 
  
  <!-- Get Quote start -->   
  <!-- <div class="wshipping-content-block home-quote">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 wow fadeInLeft">
        <h2>GET A FREE QUOTE</h2>
        <h6>we always use best & fastest fleets</h6>
        <div class="quote-form">
           <form data-toggle="validator" action="index.html">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" data-error="Please enter name field." id="inputName" placeholder="Full Name" type="text" required />
                  <div class="help-block with-errors"></div>
                </div>  
              </div>
            </div> 
            <div class="row">
              <div class="col-12 col-lg-6"> 
                <div class="form-group">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" required />
                  <div class="help-block with-errors"></div>
                </div>
              </div> 
              <div class="col-12 col-lg-6"> 
                <div class="form-group">
                  <input type="text" class="form-control" id="inputMobile" placeholder="Mobile" required />
                  <div class="help-block with-errors"></div>
                </div>
              </div>  
            </div> 
            <div class="row">
              <div class="col-12 col-lg-6"> 
                <div class="form-group">
                  <input type="text" class="form-control" id="DestinationFrom" placeholder="Destination From" required />
                  <div class="help-block with-errors"></div>
                </div>
              </div> 
              <div class="col-12 col-lg-6"> 
                <div class="form-group">
                  <input type="text" class="form-control" id="DestinationTo" placeholder="Destination To" required />
                  <div class="help-block with-errors"></div>
                </div>
              </div>  
            </div>  
            <div class="row">
              <div class="col-xs-12 col-md-6"> 
                <div class="form-group">
                  <input type="text" class="form-control" id="ShippingType" placeholder="Shipping Type" required />
                  <div class="help-block with-errors"></div>
                </div>
              </div> 
              <div class="col-12 col-lg-6"> 
                <div class="form-group">
                  <div class="input-group date" data-provide="datepicker">
                     <input type="text" class="form-control" placeholder="Date">
                     <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>  
            </div> 
            <div class="row">
              <div class="col-12"> 
                <div class="form-group">
                  <textarea class="form-control text-area" data-error="Please enter Message." id="textMessage" placeholder="Message" required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-12"> 
                <div class="form-group">
                  <button class="wshipping-button cta-btn" type="submit">Send us quote</button>
                </div>
              </div>  
            </div>  
           </form>
         </div> 
       </div> 
     </div>  
   </div>
  </div> -->
  <!-- Get quote End --> 
  
  <!-- Latest blog start -->   
 <!--  <div class="wshipping-content-block pb40">
    <div class="container">
      <div class="row">
         <div class="col-lg-6 offset-lg-3">
            <div class="section-title wow fadeInUp">
              <h2>Latest Blog Post</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-4">
            <div class="blog-item wow fadeInUp">
               <div class="blog-item-bg blog-bg-1"></div>
               <div class="blog-content">
                  <h3>Shipping container all international transport</h3>
                  <div class="blog-post-by">
                    <ul>
                      <li><i class="fa fa-calendar"></i>18 March 2017</li>
                      <li><i class="fa fa-user"></i>By Admin</li>
                    </ul>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="blog-item wow fadeInUp">
               <div class="blog-item-bg blog-bg-2"></div>
               <div class="blog-content">
                  <h3>Lorem Ipsum is simply dummy text of the printing.</h3>
                  <div class="blog-post-by">
                    <ul>
                      <li><i class="fa fa-calendar"></i>18 March 2017</li>
                      <li><i class="fa fa-user"></i>By Admin</li>
                    </ul>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-12 col-lg-4">
            <div class="blog-item wow fadeInUp">
               <div class="blog-item-bg blog-bg-3"></div>
               <div class="blog-content">
                  <h3>All Shipping container  are international transport</h3>
                  <div class="blog-post-by">
                    <ul>
                      <li><i class="fa fa-calendar"></i>18 March 2017</li>
                      <li><i class="fa fa-user"></i>By Admin</li>
                    </ul>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aeneanssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                  <a href="" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
      </div>
    </div>
  </div>
  --> <!-- Latest blog End --> 
  
  <!-- Counter start -->   
  <div class="wshipping-content-block counter-section">
   <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
           <div class="counter-block">
             <span class="counter-icon"><i class="fa fa-group"></i></span>
             <p><span class="counter" data-count="347">0</span> Institutions </p>
           </div>
         </div>
         <div class="col-12 col-sm-6 col-lg-3">
           <div class="counter-block">
             <span class="counter-icon"><i class="fa fa-male"></i></span>
             <p><span class="counter" data-count="67">0</span> Individual members </p>
           </div>
         </div>
         <div class="col-12 col-sm-6 col-lg-3">
           <div class="counter-block">
             <span class="counter-icon"><i class="fa fa-folder-open"></i></span>
             <p><span class="counter" data-count="897">0</span> Files Uploaded</p>
           </div>
         </div>
         
         <div class="col-12 col-sm-6 col-lg-3">
           <div class="counter-block">
             <span class="counter-icon"><i class="fa fa-clipboard"></i></span>
             <p><span class="counter" data-count="128">0</span> Reports generated </p>
           </div>
         </div>
         
      </div>
   </div>
  </div>      
  <!-- Counter End --> 
  
<br>  
  <div class="wshipping-content-block client-block pt0">
   <div class="container">
      <div class="row">
        <div class="col-12"><h3 class="heading3-border text-uppercase">Our Valuable Clients</h3></div>
        <div class="our-client">
          <div class="client-item"><img src="{% static 'newtemplate/assets/images/ieee-mad.png' %}" alt=""/></div>
          <!-- <div class="client-item"><img src="static/newtemplate/assets/images/client-2.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-3.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-4.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-5.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-6.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-1.jpg" alt=""/></div>
          <div class="client-item"><img src="static/newtemplate/assets/images/client-2.jpg" alt=""/></div> -->
        </div>
      </div>  
    </div>
  </div>
  <!-- Our client end -->
  


{% endblock %}
