
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Upload a File</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
 <!--  <link href="/static/selacao/css/bootstrap.css" rel="stylesheet">
  <link href="/static/selacao/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/selacao/css/prettyPhoto.css" rel="stylesheet">
  <link href="/static/selacao/font/stylesheet.css" rel="stylesheet">
  <link href="/static/selacao/css/animate.css" rel="stylesheet">
  <link href="/static/selacao/css/flexslider.css" rel="stylesheet">
  <link rel="stylesheet" media="screen" href="/static/selacao/css/sequencejs.css">
  <link href="/static/selacao/css/style.css" rel="stylesheet">
  <link href="/static/selacao/color/default.css" rel="stylesheet"> -->

  <!-- Fav and touch icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/selacao/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/selacao/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/selacao/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/selacao/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/static/selacao/ico/favicon.ico"> -->
	<link rel="stylesheet" href="/static/upload/css/style.css">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bootstrap4, Multipurpose, responsive, Business, template,Shipping, Cargo, logistic, html5, css, javascript, web24service" />
    <meta name="author" content="web24service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>ChronicleScan</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static '/newtemplate/assets/images/fevicon.png' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap.min.css' %}">
    
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-glyphicons.css' %}">
    
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/animate.min.css' %}">
    
    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/owl.carousel.css' %}">
    
    <!-- Magnific popup CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/magnific-popup.css' %}">
    
    <!-- chat CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/chat.css' %}">
    
    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/slicknav.min.css' %}">
    
    <!-- Date picker CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-datepicker.min.css' %}">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/style.css' %}">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/responsive.css' %}">
    

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="File Upload widget Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 -->
 <style type="text/css">
   body{
     background-color: gr; 
   }
 </style>
		
</head>

<body style="background-image:url({% static 'images/6.png' %});background-size:100%;background-repeat:no-repeat;">

  <header style="background-color: white;">

  <div class="header-area">
      <div class="container"> 
        <!-- Site logo Start --> 
        <div class="logo">
          <!-- <a href="/" title="W-shipping"><img src="{% static '/newtemplate/assets/images/logo.png' %}" alt="W-shipping"/></a> -->
        </div>
        <!-- Site logo end -->
        <div class="mobile-menu-wrapper"></div>
        <!-- Search Start -->
        <!-- <div class="dropdown header-search-bar">
          <form action="index.html">
            <span class="" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="search" placeholder="keywords.." class="dropdown-menu search-box">
          </form>
        </div> -->
        <!-- Search End -->
        
        <!-- Main menu start -->
        <nav class="mainmenu" style="background-color: white;">
          <ul id="navigation">
            <!--  <li class="nav-active"><a href="#">Home</a>
               
             </li> -->
              {% if user.is_authenticated %}
             <li ><a href="/dashboard">Dashboard</a>
               
             </li>
             <li ><a href="/logout">Logout</a>
               
             </li>
             
             {% else %}
<li ><a href="/login">Login/Register</a>
               
             </li>
             <!-- <li ><a href="/register">Register</a> -->
               
             </li>

              {% endif %}
          </ul>
        </nav>
        <!-- Main menu end -->   
      </div>
    </div>
    <!-- Header area End -->
  </header>  

   
  <br><br>
 
  <section class="new-section">
    <div>   <div class="agile-its">
  <h2>File Upload</h2>
  <div class="w3layouts">
  
    <div class="photos-upload-view">
      <form id="upload" action="." method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
          <div class="agileinfo">
          <input type="submit" class="choose" value="Choose file..">
          <h3>OR</h3>
            <input type="file" id="fileselect" name="document" multiple="multiple" />
            <div id="filedrag">drag and drop files here</div>
          </div>
          <center><button type="submit" style="background-color: lightblue;">Submit</button></center>
      </form>
      <div id="messages">
        <p>Status Messages</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <script src="/static/upload/js/filedrag.js"></script>


    </div>
</div></div>
  </section>
 
    
  <!-- Footer start -->
  <footer class="site-footer">
    <!-- Footer Top start -->
    <div class="footer-top-area wow fadeInUp">
      <div class="container">
        
   <!-- footer top end -->
   
   <!-- copyright start -->
   <div class="footer-bottom-area">
     <!-- <div class="container"> -->
        <div class="row">
           <div class="col-12 col-lg-6">Copyright © 2019 <span>ChronicleScan</span>. All Rights Reserved</div>
           <!-- <div class="col-12 col-lg-6 text-right">Design & Development By: <a href="http://web24service.com/" title="web24service" target="_blank">web24service</a></div> -->
         </div>
      </div>     
    <!-- </div> -->
    <!-- copyright end -->
  </footer> 
  <!-- Footer end -->
  </div>
  <!-- Main Wrapper end -->
  
  <!-- Start scroll top -->
  <div class="scrollup"><i class="fa fa-angle-up"></i></div>
  <!-- End scroll top -->
  
   <!-- Tether JS -->
  <script src="{% static '/newtemplate/assets/js/js.js' %}"></script>

</body>
</html> 