
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block title %}{% endblock %}
        <title>Dashboard  </title>
        <!-- Bootstrap core CSS-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}" />
        <!-- Custom fonts for this template-->
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/font-awesome/css/font-awesome.min.css' %}" />
        <!-- Page level plugin CSS-->
        <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.css' %}" />
        <!-- Custom styles for this template-->
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/sb-admin.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/custom.css' %}" />
        {% block stylesheet %}{% endblock %}
    </head>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <!-- Navigation-->
        {% include "sidebar.html" %}
        <div class="content-wrapper">
            <!-- container-fluid-->
            {% block body %}{% endblock %}
            <!-- /.container-fluid-->
            <!-- /.content-wrapper-->
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright © ChronicleScan 2019</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Dynamic Javascript-->
            <script type="text/javascript" src="{% static 'dashboard/jquery/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
            <!-- Core plugin JavaScript-->
            <script type="text/javascript" src="{% static 'dashboard/jquery-easing/jquery.easing.min.js' %}"></script>

            <!-- Page level plugin JavaScript-->

            {% block javascript %}{% endblock %}
        </div>
    </body>

</html>
