{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bootstrap4, Multipurpose, responsive, Business, template,Shipping, Cargo, logistic, html5, css, javascript, web24service" />
    <meta name="author" content="web24service">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title>ChronicleScan</title>
    
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/png" href="{% static '' %}/newtemplate/assets/images/fevicon.png"> -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap.min.css' %}">
    
    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-glyphicons.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/animate.min.css' %}">
    
    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/owl.carousel.css' %}">
    
    <!-- Magnific popup CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/magnific-popup.css' %}">
    
    <!-- chat CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/chat.css' %}">
    
    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/slicknav.min.css' %}">
    
    <!-- Date picker CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/bootstrap-datepicker.min.css' %}">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/style.css' %}">
    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static '/newtemplate/assets/css/responsive.css' %}">
    
    <!-- jQuery -->
    <script src="{% static '/newtemplate/assets/js/jquery-2.1.3.min.js' %}"></script>
</head>
<body>
  <!-- skiptocontent start ( This section for blind and Google SEO, Also for page speed )-->
  <a id="skiptocontent" href="#maincontent">skip navigation</a>
  <!-- skiptocontent End -->
  
  <!-- Main Wrapper Start --> 
  <div class="main-wrapper">
<header>
    <!-- Header top area start -->
  
    <!-- Header area start -->
  <div class="header-area">
      <div class="container"> 
        <!-- Site logo Start --> 
        <div class="logo">
          <a href="index.html" title="W-shipping"><img style="width: 150px;height: 50px;" src="{% static '/newtemplate/assets/images/logochroniclescan.jpeg' %}" alt="chroniclescan"/></a>
        </div>
        <!-- Site logo end -->
        <div class="mobile-menu-wrapper"></div>
        <!-- Search Start -->
        <!-- <div class="dropdown header-search-bar">
          <form action="index.html">
            <span class="" data-toggle="dropdown"><i aria-hidden="true"></i></span>
            <input type="search" placeholder="keywords.." class="dropdown-menu search-box">
          </form>
        </div> -->
        <!-- Search End -->
        
        <!-- Main menu start -->
        <nav class="mainmenu">
          <ul id="navigation">
            <!--  <li class="nav-active"><a href="#">Home</a>
               
             </li> -->
              {% if user.is_authenticated %}
             <li ><a href="/dashboard">Dashboard</a>
               
             </li>
             <li >
              <!-- <div style="height: 2px;"> -->
              <a href="/logout" >Logout</a>
            <!-- </div> -->
               
             </li>
             <!-- <li ><a href="#">Tracking</a>
                
             </li>
             <li ><a href="#">Blog</a> -->
               <!--  <ul>
                   <li ><a href="blog-page">Blog left sidebar</a></li>
                   <li ><a href="blog-another-page">Blog right sidebar</a></li>
                   <li ><a href="single-blog">Single Blog</a></li>
                </ul> -->
             <!-- </li> -->
             <!-- <li ><a href="#">pages</a> -->
                <!-- <ul>
                   <li ><a href="about">About Us</a></li>
                   <li ><a href="media">Media &amp; Publications</a></li>
                   <li ><a href="freight-gallery">Freight Gallery</a></li>
                   <li ><a href="image-gallery">Image Gallery</a></li>
                   <li ><a href="typography">Typography</a></li>
                   <li ><a href="button-accordion">Button &amp; Accordion</a></li>
                   <li ><a href="community">Shipping Community</a></li>
                   <li ><a href="404">Error 404</a></li>
                   <li ><a href="sitemap">Site Map</a></li>
                   <li ><a href="coming-soon">Coming Soon</a></li>
                </ul> -->
             <!-- </li> -->
             <!-- <li ><a href="contact">Contact Us</a></li> -->
             {% else %}
             <!-- <li ><a href="/institutionlogin">Institution Login/Register</a> -->
<li ><a href="/login">Login/Register</a>
               
             </li>
             <!-- <li ><a href="/register">Register</a> -->
               
             </li>

              {% endif %}
          </ul>
        </nav>
        <!-- Main menu end -->   
      </div>
    </div>
    <!-- Header area End -->
  </header>  
 {% block body %}
  {% endblock %}

    
  <!-- Footer start -->
  <footer class="site-footer">
    <!-- Footer Top start -->
    <div class="footer-top-area wow fadeInUp">
      <div class="container">
        <!-- <div class="row">
           <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-wiz">
                 <h3 class="footer-logo"><img src="{% static '' %}/newtemplate/assets/images/footer-logo.png" alt="footer logo"/></h3>
                 <p>It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                 <ul class="footer-contact">
                    <li><i class="fa fa-phone"></i> +88 01911 837404</li>
                    <li><i class="fa fa-envelope"></i> info@companyname.com</li>
                    <li><i class="fa fa-fax"></i> +88 02 123456</li>
                 </ul>
              </div>
              <div class="top-social bottom-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
             </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
             <div class="footer-wiz footer-menu">
                 <h3 class="footer-wiz-title">Quick Links</h3>
                 <ul>
                    <li><a href="about.html">Company Overview</a></li>
                    <li><a href="services.html">Our Services</a></li>
                    <li><a href="media.html">Media &amp; Publications</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.php">Contact Us</a></li>
                    <li><a href="freight-gallery.html">Freight Gallery</a></li>
                    <li><a href="image-gallery.html">Image Gallery</a></li>
                 </ul>
              </div>
           </div>
           <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-wiz footer-menu">
                 <h3 class="footer-wiz-title">Usefull Links</h3>
                 <ul>
                   <li><a href="create-shipping.html">Create Shipping</a></li>
                    <li><a href="tracking.html">Tracking</a></li>
                    <li><a href="shipment-history.html">Shipment History</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="button-accordion.html">Button Accordion</a></li>
                    <li><a href="tracking-result.html">Tracking Result</a></li>
                 </ul>
              </div> 
           </div>
           <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-wiz">
                 <h3 class="footer-wiz-title">Opening Hours</h3>
                 <ul class="open-hours">
                   <li><span>Mon to Fri:</span> <span class="text-right">09:30AM to 05:30PM</span></li>
                   <li><span>Sun:</span> <span class="text-right">Closed</span></li>
                 </ul>
                 <div class="newsletter">
                    <form action="index.html">
                       <input type="text" placeholder="Enter your email" value="" class="news-input">
                       <button type="submit" value="" class="news-btn"><i class="fa fa-location-arrow"></i></button>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div> -->
   </div>
   <!-- footer top end -->
   
   <!-- copyright start -->
   <div class="footer-bottom-area">
     <div class="container">
        <div class="row">
           <div style="text-align: center;">Copyright © 2019 <span>ChronicleScan</span>. All Rights Reserved</div>
           <!-- <div class="col-12 col-lg-6 text-right">Design & Development By: <a href="http://web24service.com/" title="web24service" target="_blank">web24service</a></div> -->
         </div>
      </div>     
    </div>
    <!-- copyright end -->
  </footer> 
  <!-- Footer end -->
  </div>
  <!-- Main Wrapper end -->
  
  <!-- Start scroll top -->
  <div class="scrollup"><i class="fa fa-angle-up"></i></div>
  <!-- End scroll top -->
  
   <!-- Tether JS -->
  <script src="{% static '/newtemplate/assets/js/js.js' %}"></script>

</body>
</html> 